<div id="<%= dom_id recipe %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= recipe.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Recipe type:</strong>
    <%= recipe.recipe_type.capitalize %>
  </div>
</div>
